.table th {
	text-align: center;
	height: 38px;
}

.cla1 {
	FONT-SIZE: 12px;
	COLOR: #4b4b4b;
	LINE-HEIGHT: 18px;
	TEXT-DECORATION: none
}

.login_msg {
	font-family: serif;
}

.login_msg .msg {
	background-color: #acf;
	width: 150px;
}

.login_msg .btn {
	background-color: #9be;
	width: 150px;
	font-size: 15px;
}

fieldset {
	width: 380px;
	height: 180px;
	margin: 18% auto;
}

fieldset form {
	
}

.form-inline {
	display: inline-block;
}

#addBtn {
	float: right;
	margin-right: 20px;
}

#load {
	float: right;
	margin-right: 10px;
}

#pagetable {
	margin: 5px auto;
	text-align: center;
}

#totals {
	margin-left: 100px;
}

.panel-body {
	padding: 15px;
	padding-bottom: 3px;
}